*{
  padding: 0;
  margin: 0;
}

header{
    height:60px;
    width:100%;
    background-color: rgb(255, 255, 255)
}
#logo{
  position: relative;
  right: 1200px;
  height:60px;
  width:60px;
}
body{
  background-color:grey;
}
#list{
    display:flex;
    justify-content:flex-end;
}
 #languages{
    display:flex;
    justify-content: space-between;
} 
h5{
    padding:15px;
    font-size: 19px;
    top:20px;
    
    font-weight:900;
}
h3{
    position: absolute;
    left:100px;
    top:13px;
   font-weight: bolder;
   font-size:28px;


}
.dropbtn{
  font-size: 18px;
  font-weight: 600;
  border-radius:10%;
  width:120px;
  background-color:rgb(241, 195, 195)

}
.dropdown {
  
  position: relative;
  display: inline-block;
  
    top: 16px;
   right:40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #afeaf1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(228, 215, 215, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(12, 4, 53);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight:800;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #f7e38d;}

section{
    display: flex;
    flex-wrap: wrap;
}
.movie-container{

  background-color: white;
  height: 500px;
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 25px;
}

.poster{
    height:350px;
    width: 90%;
    margin-left:24px;
    position: relative;
    top: -40px;
}

h2{
  position: relative;
  margin-left:24px;
  padding-top: 10px;

}
.date{
  margin-left:24px;
  padding-bottom: 20px;
  position: relative;
  top: -18px;
}



.likes{
  position: relative;
  margin-left:47px;
  top: 10px;
}

.views{
  position: relative;
  margin-left:148px;
  top:-16px;
}
.icondiv{
    position: relative;
    display: flex;
    font-size: 1.3rem;
    top: -30px;
}
.icondiv p{
    margin-left: 50px;
}

#popup{
  display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 35%;
    height: 25%;
    border: 2px solid purple;
    padding: 60px;
    z-index:7;
    background-color: black;
    box-shadow: 0 8px 16px 0 rgba(241, 235, 235, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 40px;
}
@keyframes popupanimation{
    from {opacity: 0;}
    to{opacity: 1;}
}

#popup>h3
{
    padding: 100px;
    color: white;
    text-align: center;
}
#restart
{

    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: none;
    position: relative;
    top: 60%;
    left: 35%;
}

#popup>button:hover
{
    color: white;
    background-color: black;
    border: 2px solid white;
}
